$primary-color: #1c1c1c;
$accent-color: #ff8787;
$background-color: #fbfbfb;
$text-color: #7a7a7a;
$h4-text-color: #3d3d3d;
$border-color: #ddd;
$peace-color: #fff;
$love-color: #f00;
$nav-link-color: #fff;

$font-serif: 'Merriweather', sans-serif;
$font-sans-serif: 'Lato', sans-serif;
