body {
  color: $text-color;
  font-family: $font-serif;
  position: relative;
}

a {
  text-decoration: none;
}

h3 {
  margin: 0 0 1em;
}

h4 {
  font-family: $font-sans-serif;
}

#portfolio {
  font-family: $font-sans-serif;
}
